<div class="principal">
  <div class="form">
    <div class="logo-header">
      <img src="https://bolsadequito.com/images/2018/06/05/LOGO-BANCO-PICHINCHA-min.jpg" alt="Logo TCS" />
    </div>
    <input
      type="text"
      placeholder="Buscar por nombre o descripción..."
      [(ngModel)]="searchText"
    />
    <table>
      <thead>
        <tr>
          <th>Logo</th>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Fecha de liberación</th>
          <th>Fecha de reestructuración</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of productosPorPagina">
          <!-- Aquí se actualizará el logo de cada producto -->
          <td><img [src]="producto.logo" alt="logo" width="50" /></td>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.descripcion }}</td>
          <td>{{ producto.fechaLiberacion | date: 'yyyy-MM-dd'}}</td>
          <td>{{ producto.fechaReestructuracion | date: 'yyyy-MM-dd'}}</td>
        </tr>
      </tbody>
    </table>
    <div class="tabla-footer">
      <div>
        Mostrando {{ productosFiltrados.length }} resultado{{ productosFiltrados.length === 1 ? '' : 's' }}.
      </div>
      <div>
        <label for="registros">Registros por página: </label>
        <select [(ngModel)]="registrosPorPagina" id="registros">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
        </select>
      </div>
    </div>
  </div>
</div>
